<header id="peoplelistheader">
  <div class="peoplelistheaderfillerleft"></div>

  {{! see PeopleFilterTabView for classNames }}
  {{#view "AR.PeopleFilterTabView" tabBinding="controller.allTab"}}
    ALL
  {{/view}}

  {{#view "AR.PeopleFilterTabView" tabBinding="controller.leadsTab"}}
    LEADS
  {{/view}}

  {{#view "AR.PeopleFilterTabView" tabBinding="controller.clientsTab"}}
    CLIENTS
  {{/view}}

  <div class="peoplelistheaderfillerright"></div>
</header>

<section id="peoplelistsubheader">

  {{view "AR.SearchView" 
    candidatesBinding="controller.people"
    classNames="peoplelistsearch"
  }}
  <div id="peopleaddperson" {{action "addPerson"}} >+ New Person</div>

</section>
