$dropdownheight: 30px
$dropdownsummaryheight: 50px
$dropdownsummarywidth: 200px

$dropdownbgcolor: white 
$dropdowncolor: $darkgrey
$dropdownhoverbgcolor: $lightblue
$dropdownhovercolor: white


.dropdowncontainer
  display: inline-block
  position: relative
  height: $dropdownsummaryheight
  width: $dropdownsummarywidth

  .dropdownsummary
    font-weight: normal
    height: $dropdownheight
    width: 100%
    &:after
      color: $lightblue
      content: "\25B6"

  .is-active
    &:after
      color: black
      content: "\25BC"

  .dropdowncontents
    position: absolute
    margin: 0px
    padding: 5%
    top: $dropdownheight
    width: 100%
    border: 1px solid $dropdowncolor
    color: $dropdowncolor
    background-color: $dropdownbgcolor
    list-style-type: none
    text-align: left
    z-index: 5

    .dropdownoption
      font-weight: normal
      &:hover
        background-color: $dropdownhoverbgcolor
        color: $dropdownhovercolor
