<h2><a href="https://github.com/stevekane/ember-calendar-component">
  Ember Calendar Component Github Repo!
</a></h2>
<h3>ActiveDate is : {{targetDate}}</h3>
{{outlet}}
<div class="datepickerholder">
  {{kane-datepicker 
    currentMonth=initialDate
    value=targetDate
  }}
</div>
