<section id="clientlist">
  <header id="clientlistheader">
    <div class="clientlistheaderfillerleft"></div>
    <nav id="showall" class="clientlistfilter">
      ALL
    </nav>
    <nav id="showleads" class="clientlistfilter activeclientfilter">
      LEADS 
    </nav>
    <nav id="showclients" class="clientlistfilter">
      CLIENTS 
    </nav>
    <div class="clientlistheaderfillerright"></div>
  </header>
</section>
