.button
  box-sizing: border-box
  padding: .2em
  font-family: serif
  font-size: 1.4em

.button.small
  color: black

.button.tiny
  color: blue
  border-radius: 5px
  &:after
    content: " ^"

.button.success
  &:hover
    color: black
