<header id="clientlistheader">
  <div class="clientlistheaderfillerleft"></div>

  {{! see ClientFilterTabView for classNames }}
  {{#view "AR.ClientFilterTabView" tabBinding="controller.allTab"}}
    ALL
  {{/view}}

  {{#view "AR.ClientFilterTabView" tabBinding="controller.leadsTab"}}
    LEADS
  {{/view}}

  {{#view "AR.ClientFilterTabView" tabBinding="controller.clientsTab"}}
    CLIENTS
  {{/view}}

  <div class="clientlistheaderfillerright"></div>
</header>

<section id="clientlistsubheader">

  {{view "AR.SearchView" 
    candidatesBinding="controller.content"
    classNames="clientlistsearch"
  }}
  <div id="clientsaddperson" {{action "addPerson"}} >+ New Person</div>

</section>
