$client-list-header-height: 60px
$client-list-filter-padding: 20px
$client-list-header-border: 1px solid $darkgrey

$header-total-width: 100%
$header-left-filler-width: 7%
$header-filtertab-width: 7%
$header-right-filler-width: $header-total-width - ($header-left-filler-width + $header-filtertab-width *3)

$showall-position: $header-left-filler-width
$showleads-position: $showall-position + $header-filtertab-width
$showclients-position: $showleads-position + $header-filtertab-width

$clients-search-position: 10%
$clients-search-width: 20%
$clients-addnewperson-width: 10%
$clients-addnewperson-position: $clients-search-position + $clients-search-width + 2%

$client-item-height: 30px 
$client-item-vertical-margin: 10px

$client-tag-position: 0%
$client-tag-width: 5%

$client-name-position: $client-tag-position + $client-tag-width
$client-name-width: 30%

$client-phone-position: $client-name-position + $client-name-width
$client-phone-width: 30%

$client-email-position: $client-phone-position + $client-phone-width
$client-email-width: 10%

@mixin clientheaderfiller
  position: absolute
  display: block
  height: 100%
  border-bottom: $client-list-header-border

#clientscontainer
  width: 100%
  #clientlistheader
    position: relative
    display: block
    height: $client-list-header-height
    width: $header-total-width

    .clientlistheaderfillerleft
      @include clientheaderfiller
      width: $header-left-filler-width
      left: 0%

    .clientlistheaderfillerright
      @include clientheaderfiller
      width: $header-right-filler-width
      right: 0%
      
    .clientlistfilter
      position: absolute
      display: block
      height: 100%
      width: $header-filtertab-width
      margin-top: 0px
      margin-left: 0px
      margin-right: 0px
      padding-top: $client-list-filter-padding
      background-color: $white
      text-align: center
      font-size: .8em
      font-weight: bold
      color: $darkblue
      border-bottom: $client-list-header-border

    .ALL
      left: $showall-position
    .LEADS
      left: $showleads-position
    .CLIENTS
      left: $showclients-position 

    .activeclientfilter
      border-left: $client-list-header-border
      border-right: $client-list-header-border
      border-bottom: none
  
  #clientlistsubheader
    position: relative
    display: block
    height: $client-list-header-height
    width: $header-total-width
    padding-top: 10px
    .clientlistsearch
      position: absolute
      left: $clients-search-position
      width: $clients-search-width
      height: 70%
    #clientsaddperson
      @include bluebutton
      position: absolute
      left: $clients-addnewperson-position
      width: $clients-addnewperson-width
      height: 70%
      padding-top: 10px

  #clientlistletterfilters
    display: block
    height: 30px
    width: 100%
    padding-left: 10%

    .letterfilter
      display: inline-block
      padding-top: 5px
      text-align: center
      height: 100%
      width: 3%
      color: $lightblue
      &:hover
        background-color: $lightblue
        color: $white

  #clientlist
    display: block
    list-style-type: none
    width: 100%
    padding-left: 10%
    padding-right: 10%

    .clientlistfirstletter
      color: $lightgrey
      font-size: 1.4em
      font-weight: 900

    .clientlistclient
      position: relative
      display: block
      margin-top: $client-item-vertical-margin
      margin-bottom: $client-item-vertical-margin
      height: $client-item-height
      padding-top: 5px
      &:hover
        background-color: $lightblue
        color: $white

      .clientlistclienttag
        position: absolute
        left: $client-tag-position
      .clientlistclientname
        position: absolute
        left: $client-name-position
      .clientlistclientphonenumber
        position: absolute
        left: $client-phone-position
      .clientlistclientemail
        position: absolute
        left: $client-email-position
