<tr class="activity">
  <td class="activityclient">
    <span {{bindAttr class="view.classTag"}}>{{view.type}}</span>
    <span class="activityclientname">{{name}}</span>
  </td>
  <td class="activityinsurancetype"></td>
  <td class="activitystatus"></td>
</tr>
