<section class="modalcontent">
  <header class="modalheader">
    Add New Quote 
  </header> 

  <form class="form">
    <section class="formcolumn">

      <div class="formrow">
        <label class="formlabel">Quote for</label>
        {{view "AR.SearchView" 
          classNames="forminputblock"
          candidatesBinding="controllers.clients.content"  
        }}
      </div>

      <div class="formrow">
        <label class="formlabel">Insurance Type</label>
        {{view "Ember.Select" 
          classNames="formselect forminput"
          contentBinding="insuranceTypes"
        }}
      </div>

    </section>
  </form>

  <footer class="modalfooter">
    <div class="save" {{action "save"}}>
      Add Quote 
    </div>
  </footer>
</section>
