<section class="modalcontent">
  <header class="modalheader">
    Add New Quote 
  </header> 

  <table class="modalform">

    <tr class="formrow">
      <td class="description">Quote for</td>
      <td class="input">
        {{view "AR.SearchView" candidatesBinding="controller.controllers.clients.content"}}
      </td>
    </tr>

    <tr class="formrow">
      <td class="description">Insurance Type</td>
      <td class="input">{{view Ember.Select classNames="select"}}</td>
    </tr>

  </table>

  <footer class="modalfooter">
    <div class="save" {{action "save"}}>
      Add Person
    </div>
  </footer>
</section>
