<ul class="dropdowncontents">
  {{#each option in view.options}}
    <li class="dropdownoption">
      {{input type=checkbox checked=option.checked}}
      {{option.filter}}
    </li>
  {{/each}}
</ul>
