$form-label-width: 20%
$form-input-width: 100% - $form-label-width
$form-row-height: 50px

$form-text-color: $darkgrey
$form-input-bgcolor: $lightgrey

.form
  display: block
  width: 100%
  height: 100%

.formcolumn
  position: absolute
  width: 100%

.formrow
  position: relative
  width: 100%
  height: 40px
  margin-top: 6px
  margin-bottom: 6px

.formlabel
  position: absolute
  display: block
  height: inherit
  width: $form-label-width
  color: $form-text-color
  font-size: .8em
  font-weight: 400
  text-align: right
  padding-top: 10px
  padding-right: 10px

.forminput
  position: absolute
  display: block
  height: inherit
  left: $form-label-width
  width: $form-input-width
  background-color: $form-input-bgcolor
  border-radius: 5px
  height: inherit
  padding-left: 10px
  color: $form-text-color

.formtextfield
