@import ../base/colors
@import ../components/buttons 
@import ../components/tags

//calculate size of homeheader bounding boxes
$homeheader-height: 60px
$homeheader-content-height: $homeheader-height * .75
$homeheader-content-padding: ($homeheader-height - $homeheader-content-height) / 2

$leftpane: 60%
$rightpane: 100% - $leftpane - 1%

.homeheader
  display: block
  width: 100%
  height: $homeheader-height

.paneltitle
  display: inline-block
  vertical-align: middle
  height: $homeheader-content-height
  color: $darkgrey

#recentactivity
  position: absolute
  left: 0px
  width: $leftpane
  min-height: 600px
  background-color: $white
  padding-right: 2%

  #activityheader
    padding-left: 10%
    #addperson
      @include bluebutton
      display: inline-block
      vertical-align: middle
      width: 130px
      margin-left: 5%
      height: $homeheader-content-height
    #addquote
      @include bluebutton
      display: inline-block
      vertical-align: middle
      width: 130px
      height: $homeheader-content-height

  #activitylist
    margin-top: 20px
    margin-left: 10% 

    #activitylistheaders
      .activitylistheader
        text-align: left
        width: 20%
        
    .activity
      &:hover
        background-color: $lightblue
        color: $white
      height: 60px
      .activityclient 
        position: relative
        text-align: left
        width: 20%
        .activityclientname
          position: absolute
          left: 30%

#reminders
  position: absolute
  right: 0px
  width: $rightpane
  min-height: 600px
  background-color: $white
  padding-left: 2%

  #reminderheader
    padding-right: 10%
    #addreminder
      @include bluebutton
      display: inline-block
      vertical-align: middle
      width: 130px
      margin-left: 5%
      height: $homeheader-content-height
  
  .daywidget
    position: relative
    padding-right: 15%
    margin: 30px 0px
    width: 60%
    height: 60px

    .daywidgetcomponent
      text-align: center
      font-size: 1.2em
      padding-top: 7px

    .previousday
      position: absolute
      width: 20%
      height: 100%
      background-color: $lightgrey
      border-radius: 10px 0px 0px 10px
    .currentday
      position: absolute
      width: 60%
      height: 100%
      left: 20%
      background-color: orange
    .nextday
      position: absolute
      left: 80%
      width: 20%
      height: 100%
      background-color: teal
      border-radius: 0px 10px 10px 0px

  #reminderlist
    list-style-type: none
    width: 100%
    padding-left: 5% 
 
    .reminder
      position: relative
      height: 60px
      .reminderdetails
        position: absolute
        left: 0px
        top: 0px
        height: 100%
        width: 40%
        .remindercheck
          position: absolute
          top: 5px
          left: 5px 
          height: 25px
          width: 25px
        .remindertime
          position: absolute
          top: 5px
          left: 45px
          color: red 
          font-weight: bolder
          font-size: large
        .remindernamebox
          position: absolute
          top: 35px
          left: 5px

      .remindernote
        position: absolute
        right: 0px
        top: 0px                   
        width: 60%
