@import ../base/colors
@import ../components/buttons 
@import ../components/tags

//calculate size of homeheader bounding boxes
$homeheader-height: 60px
$homeheader-content-height: $homeheader-height * .75
$homeheader-content-padding: ($homeheader-height - $homeheader-content-height) / 2

$leftpane: 60%
$rightpane: 100% - $leftpane - 1%

.homeheader
  display: block
  width: 100%
  height: $homeheader-height

.paneltitle
  display: inline-block
  vertical-align: middle
  height: $homeheader-content-height
  color: $darkgrey

@import activities
@import reminders
